/*
	Cascading Style Sheet Created by Matthew Mayne 
	for Trakka Software Solutions, landing page for TradieTrakka
	Monday 11th May 2011 
	Version 1.0
	Last Updated Monday 11th May 2011 
 */

 
 /* this is an Eric Meyer style resetting of CSS parameters */
 html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body
{
	/*background-color: #d4b46b; */
	background-image:url(../images/wood.jpg);
	background-repeat:repeat;
	min-width:600px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	font-family:"Comic Sans MS", cursive, sans-serif;
} 

#logo
{
	height:25%;
	width:25%;
}

#footlogo
{
	height:5%;
	width:5%;
}

#body
{
	text-align:left;
	background:url(../images/notepaper.jpg);
	clear:both;
	margin-top:20px;
}

#one
{
	/*border:solid 5px yellow;*/
}

#two
{
	/*border:solid 5px yellow;*/
}

#three
{
	/*border:solid 5px yellow;*/
}

#four
{
	/*border:solid 5px yellow;*/
}

#navbar
{
	clear:both;
	background-color: #fff;
	display:inline;
	background: url(../images/dplate.jpg);
}

#navbar ul 
{ 
	margin: 0;  
	padding: 0px;  
	list-style-type: none;  
	text-align: center;  
	background: url(../images/dplate.jpg);
	text-align:left;
}  
  
#navbar ul li 
{   
        display: inline;  
		
}  
  
#navbar ul li a 
{  
        text-decoration: none;  
        padding: .2em 1em;  
        color: #000;  
        background: url(../images/dplate.jpg);  
}  
  
#navbar ul li a:hover 
{  
        color: #fff;  
        background-color: #000;  
}  

#divide
{
	height:10px;
	background-color:rgb(100,100,255);
	margin: 10px 0px;
}

#footer {
	clear:both;
	float:left;
	width:100%;
	font-weight:bold;
}
#footer p {
	text-align:center;
	padding:10px;
	font-size:0.8em;
	margin:0;
	color:#E6E6CC;
}

